@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,400;1,600;1,800&display=swap");
/* *{
  padding: 0;
  margin: 0;
} */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29%;
  height: 100%;
  position: fixed;
  padding: 10px 0 10px 13%;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
}
.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: space-between;
}
nav .icon {
  margin-top: 15px;
}
nav a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: fit-content;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  padding: 8px 25px 8px 8px;
}
nav a i {
  margin-right: 15px;
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
}
nav a:hover {
  background-color: #4f4d4d;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
nav .icon:hover {
  background-color: black;
}
.tweet-btn {
  color: white;
  background-color: rgb(0, 138, 193);
  padding: 13px;
  width: 185px;
  border: transparent;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  letter-spacing: 2.5px;
  margin-top: 20px;
  text-align: center;
}
.tweet-btn:hover {
  background-color: rgb(8, 123, 168);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.main-acc {
  width: 100%;
  height: 30%;
  padding-top: 150px;
}
.main-acc a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 8px 10px 8px 15px;
  margin-right: 10px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.main-acc a:hover {
  background-color: rgb(80, 78, 78, 0.4);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.per-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}
.main-acc a .details {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.name {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}
.user-handle {
  opacity: 0.5;
}
main {
  width: 71%;
  height: 100%;
  margin-left: 29%;
}
.container2 {
  display: flex;
  width: 100%;
}
.feed {
  width: 50%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.container2 .feed .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: white;
  font-size: 1.8rem;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  font-weight: 400;
  text-transform: uppercase;
  background-color: black;
}
.f-line {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.f-line a .personal-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
::placeholder {
  color: #4a4949;
}
.f-line .tweet-content {
  background-color: black;
  border: transparent;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-left: 35px;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  color: rgb(210, 203, 203);
  width: 70%;
  padding: 10px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  outline: 0;
}
.f-line .tweet-content:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  cursor: pointer;
  border: 1px solid rgb(45, 108, 140);
}
.s-line {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: -5px 10px;
  width: 100%;
  margin-top: -10px;
}
.s-line .icons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-left: 78px;
}
.s-line .icons i {
  color: rgb(39, 99, 123);
  font-size: 22px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  cursor: pointer;
}
.s-line .icons i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.s-line .NewTweet-Btn {
  text-transform: uppercase;
  background-color: rgb(35, 156, 204);
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  color: white;
  font-size: 1.4rem;
  padding: 10px 15px;
  border: transparent;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  font-weight: 700;
  width: 90px;
}
.feed-tweets {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
  padding: 10px;
  min-height: 100px;
  width: 100%;
  cursor: pointer;
}
.feed-tweets i {
  font-size: 25px;
  color: #4f4d4d;
}
.tweet-details {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}
.user-details {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.user-details a {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(237, 234, 234);
}
.user-details a span {
  color: #969393;
  font-size: 1.5rem;
  font-weight: 400;
}
.user-details i {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.user-details i:hover {
  color: white;
}
.tweet-content {
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-weight: 500;
}
.tweet-engagments {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.tweet-engagments i {
  font-size: 2.3rem;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.tweet-engagments i:nth-child(1):hover {
  color: rgb(49, 112, 212);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.tweet-engagments i:nth-child(2):hover {
  color: rgb(25, 173, 25);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.tweet-engagments i:nth-child(3):hover {
  color: rgb(255, 39, 39);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.tweet-engagments i:nth-child(4):hover {
  color: white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.side-feed {
  width: 50%;
  padding: 0 2%;
}
.search {
  display: flex;
  max-width: 355px;
  height: 55px;
  position: sticky;
  top: 0;
  padding-top: 5px;
}
.search input {
  border: none;
  /* padding: 0 10px; */
  font-size: 1.5rem;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  background-color: #212327;
  color: #333;
  width: 100%;
  height: 45px;
  padding-left: 30px;
  font-weight: 400;
  line-height: 20px;
  outline: 0;
  color: white;
}
.search input:focus {
  border: 2px solid rgb(45, 108, 140);
}
.trending {
  display: flex;
  flex-direction: column;
  height: 570px;
  border-radius: 15px;
  background-color: #212327;
  max-width: 355px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 15px;
}
.trending .heading,
.follow-list .heading {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  padding: 15px;
}
.trending-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  color: white;
  height: 90px;
  width: 100%;
  margin-top: 5px;
  font-weight: 600;
}
.trend-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(110, 118, 125);
}
.trend-location i {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.trend-location i:hover {
  color: white;
}
.trend-location span {
  font-size: 1.3rem;
  font-weight: 400;
}
.trending-content p {
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.trending-content span {
  font-size: 1.3rem;
  padding-bottom: 5px;
}
.trending-content {
  cursor: pointer;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
p {
  color: white;
}
.trending-content:hover,
.show-more:hover,
.follow-sug:hover {
  background-color: #1c1e22;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.show-more {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  color: #1c88d2;
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.follow-list {
  display: flex;
  flex-direction: column;
  height: 250px;
  max-width: 355px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-top: 15px;
  background-color: #212327;
  padding: 5px;
}
.follow-sug {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 5px;
  padding-top: 30px 15px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  cursor: pointer;
}
.follow-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.follow-details a {
  font-size: 1.4rem;
  font-weight: 700;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.follow-details a:hover {
  text-decoration: underline;
}

.follow-details span {
  color: rgb(110, 118, 125);
  font-size: 1.4rem;
  font-weight: 400;
}
#special {
  font-weight: 300;
  font-size: 1.3rem;
  background-color: #1c1e22;
  padding: 2px 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.follow-list .tweet-btn2 {
  background-color: white;
  width: 75px;
  height: 35px;
  margin: 0 0 0 12px;
  color: black;
  text-transform: uppercase;
  border-radius: 999px;
  padding: 0px 5px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  /* margin-right: 2px; */
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
